.chat-container{
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .chat-container-top{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;

    img{
      width: 35px;
      height: 35px;
    }
  }

  .chat-container-user-info{
    .user-name{
      font-size: 16px;
      font-weight: 600;
    }

    .user-status{
      font-size: 13px;
    }
  }

  .chat-container-desc{
    display: flex;
    gap: 8px;

    img{
      width: 40px;
      height: 40px;
    }
  }

  .chat-container-desc-time{
    font-size: 12px;
  }

  .chat-container-content{
    padding: 25px 15px;
    flex: 1;
    overflow-y: auto;
  }

  .chat-container-bottom{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
  }  

  .chat-container-input{
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid #DBDBDB;
    width: 88%;
  }
  
  .chat-container-btn-send{
    background-color: #EF71B5;
    padding: 10px;
    border-radius: 20px;
  }
}