.header{
  padding: 10px 25px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: sticky;
  top:0;
  

  .header-title{
    font-size: 25px;

  }
}