@use "../variables" as *;


.setting-page{
  padding: 20px 30px;

  .setting-page-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .setting-page-desc{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .setting-page-contain-theme{
    margin-bottom: 20px;

    .theme-item{
      background-color: white;
      
    }

    .item-color{
      box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }
  }

  .setting-page-button{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 8px 10px;

    &:hover{
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }


  .setting-page-area-preview{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
  }

  .setting-page-card{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    width: 50%;
    border-radius: 12px;
    padding-bottom:10px ;
  }

  .setting-page-card-avatar{
    background-color: #F39FA0;
    font-weight: 700;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .setting-page-card-top{
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 0.5px solid #D4D4D4;
  }

  .setting-page-card-desc{
    .card-desc-title{
      font-size:16px ;
      font-weight: 600;
    }

    .card-desc-status{
      font-size: 13px;
    }
  }

  .setting-page-contain-mess{
    padding-inline: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  .setting-page-mess-receiver{
    display: flex;
    justify-content: flex-end;
  }

  .setting-page-mess-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 35px;
  }

  .setting-page-contain-mess{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .setting-page-input-text{
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid #DBDBDB;
    width: 88%;
  }

  .setting-page-send-btn{
    background-color: #EF71B5;
    padding: 10px;
    border-radius: 20px;
  }

  .setting-page-contain-input{
    gap: 10px;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .setting-page{
   .setting-page-contain-theme{
    grid-template-columns: repeat(6, minmax(0, 1fr));
   }

   .setting-page-card{
    width: 70%;
   }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .setting-page{
   .setting-page-contain-theme{
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 10px;
   }

   .setting-page-card{
    width: 90%;
   }
  }
}